.alert {
  color: white;
  display: block !important;
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  background-color: #303030;
  padding: 0.5em 3em;
  border-radius: 0.5em;
  cursor: pointer;
  text-align: center;
}

.alert:before {
  content: "";
  width: 0.5em;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.5em;
  position: absolute;
  background-color: #67bb63;
}

.card {
  background-color: #303030;
  min-width: 55vw;
  max-width: 60vw;
  min-height: 55vh;
  max-height: 75vh;
  border-radius: 0.5em;
  padding: 2.5em 1.5em;
  word-break: break-all;
}

.card > p {
  text-align: center;
}

.centre_card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centre_card > img {
  width: 20vw;
  height: auto;
}

.title {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.action_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.copy_input {
  min-width: 60%;
  max-width: 80%;
  min-height: 2.5rem;
  border-radius: 0.5em;
  outline: none;
  padding: 0.5em;
  white-space: normal;
  background-color: #121313;
  color: white;
  border: none;
}

.action_btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  gap: 0.5em;
  border: 2px solid #121313;
  background-color: #121313;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.action_btn:hover {
  border: 2px solid white;
}

.interactive_section {
  display: flex;
  justify-content: space-between;
  margin: 2em 2em 0 2em;

}


.copy_btn {
  border: 2px solid #67bb63;
  background-color: #67bb63;
  color: white;
  background-position: center;
  transition: background 0.5s;
}

.svg_btn {
  width: 1.55em;
  height: auto;
}

.stream_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  color: #121313;
  padding: 0.6em 0.8em;
  margin-top: 3rem;
  border-radius: 0.5em;
  text-decoration: none;
  font-weight: 500;
  color: #303030;
}

.mpv {
  background-color: #e9c8f6;
}

.vlc {
  background-color: #fcbc7c;
}

.mpv:hover {
  background-color: #cb9bdf;
}

.vlc:hover {
  background-color: #eea760;
}

.img {
  width: 20px;
  height: auto;
}
.interactive_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7em 1em;
    min-width: 8rem;
    background-color: white;
    border: none;
    color: #121313;
}

.interactive_btn:hover {
    border: none;
    background-color: #bbf0fc
}

.arrow_btn{
    width: 1.5rem;
    height: auto;
}

@media only screen and (max-width: 600px) {
  .alert {
    padding: 0.5em 1em;
    width: 50%;
    font-size: 0.8rem;
  }

  .card {
    max-width: 90vw;
    min-height: 30vh;
  }
  .centre_card > img {
    width: 32vw;
  }

  .copy_input {
    max-width: 68%;
  }

  .title {
    font-size: 1.2rem;
  }
  .action_btn_text {
    display: none;
  }

  .img {
    width: 17px;
  }
  .player {
    font-size: 0.8rem;
    padding: 0.8em 0.95em;
  }
  .svg_btn {
    width: 3.5rem;
  }

.interactive_btn{
    min-width: 5rem;
}
  .arrow_btn{
      width: 1.2em;
  }
}
