.alert {
  color: white;
  display: block !important;
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  background-color: #67bb63;
  padding: 0.5em 3em;
  border-radius: 0.5em;
  cursor: pointer;
}

.card {
  background-color: #303030;
  min-width: 45vw;
  max-width: 60vw;
  min-height: 55vh;
  max-height: 75vh;
  border-radius: 0.5em;
  padding: 2.5em 2em;
  word-break: break-all;
}

.centre_card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centre_card > img {
  width: 20vw;
}

.title {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.action_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.copy_input {
  min-width: 60%;
  max-width: 80%;
  min-height: 2.5rem;
  border-radius: 0.5em;
  outline: none;
  padding: 0.5em;
  white-space: normal;
  background-color: #121313;
  color: white;
  border: none;
}

.action_btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  gap: 0.5em;
  background-color: #121313;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.action_btn:hover {
  color: #121313;
  background-color: white;
}

.copy_btn {
  background-color: #67bb63;
  color: white;
  background-position: center;
  transition: background 0.5s;
}

.copy_btn:hover {
  background: #40863c radial-gradient(circle, transparent 1%, #40863c 1%)
    center/15000%;
  color: #303030;
}
.copy_btn:active {
  background-color: #67bb63;
  color: white;
  background-size: 100%;
  transition: background 0s;
}

.stream_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: white;
  color: #121313;
  padding: 0.6em 0.8em;
  margin-top: 3rem;
  border-radius: 0.5em;
  text-decoration: none;
  font-weight: 500;
  color: #303030;
}

.mpv {
  background-color: #e9c8f6;
}

.vlc {
  background-color: #fcbc7c;
}

.player:hover {
  background-color: white;
}

.img {
  width: 20px;
}

@media only screen and (max-width: 600px) {
  .alert {
    padding: 0.5em 1em;
    font-size: 0.8rem;
  }

  .card {
    max-width: 90vw;
    min-height: 30vh;
  }
  .centre_card > img {
    width: 32vw;
  }

  .copy_input {
    max-width: 68%;
  }

  .title {
    font-size: 1.2rem;
  }
  .action_btn_text {
    display: none;
  }

  .img {
    width: 16px;
  }
  .player {
    font-size: 0.9rem;
  }
}
